<div class="container mt-4">
  <h2>🛒 My Cart</h2>

  <button class="btn btn-danger mb-3" (click)="clear()">Clear Cart</button>

  <div *ngIf="cartItems.length === 0">Cart is empty 😢</div>

  <div class="row g-3">
    <div class="col-md-4" *ngFor="let item of cartItems">
      <div class="card p-2">
        <img [src]="item.image_url" class="img-fluid" />

        <h6 class="mt-2">{{ item.title }}</h6>

        <button class="btn btn-sm btn-danger" (click)="remove(item.id)">
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
